.MainHeader {
    background-color: lightcyan;
    width: 100%;
    padding: 8px 16px;
}

.MainHeader > div {
    display: inline-block;
    vertical-align: middle;
}

.MainHeader__brand {
    color: #0e4f1f;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
}

.MainNav {
    display: inline-block;
    text-align: right;
    width: calc(100% - 70px);
    vertical-align: middle;
}

.Main-nav__items {
    margin: 0;
    list-style: none;
    padding: 0;
}

.Main-nav__item {
    display: inline-block;
    margin: 0 16px;
}

.Main-nav__item a {
    color: #0e4f1f;
    text-decoration: none;
    font-weight: bold;
    padding: 3px 0;
}

.Main-nav__item a:active,
.Main-nav__item a:hover {
    color: dodgerblue;
    border-bottom: dodgerblue solid 5px;
    cursor: pointer;
}

.Main-nav__item--cta a{
    color: white;
    background: #ff1b68;
    padding: 8px 16px;
    border-radius: 8px;
}

.Main-nav__item--cta a:active,
.Main-nav__item--cta a:hover {
    color: white;
    background: dodgerblue;
    border: none;
}

